<a href="https://colab.research.google.com/github/bnespi/Data-Science-Shits/blob/main/Manipulating_Registration_Entries_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

#Getting the data

##I had to publish the spreadsheet before so that it can be read as an excel

In [ ]:
# link = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSoTtIj4FtTp5XFcKsmMwSA_AiSPN_duINNxWeNnZnArTFNFh8IHWXfLxxvKRrMCMlAXgSYBT3Jb2FJ/pub?output=xlsx'
# names = pd.read_excel(link)

# names.head()

                Timestamp  Unnamed: 1  ... Program            Email Address
0 2022-01-08 21:17:07.740         NaN  ...     CPE   karl.leonida@gmail.com
1 2021-12-13 08:19:43.461         NaN  ...     ECE                      NaN
2 2022-01-08 11:34:43.849         NaN  ...     CPE  jmvillasencio@yahoo.com
3 2021-12-12 19:31:48.458         NaN  ...     ECE                      NaN
4 2021-12-17 09:32:15.324         NaN  ...     ECE    derickrcruz@gmail.com

[5 rows x 7 columns]

In [ ]:
from google.colab import files

##But now I saved the spreadsheet to For_Future_Use.csv

In [ ]:
names.to_csv('For_Future_Use.csv')

#files.download('For_Future_Use.csv')

In [ ]:
path = '/content/drive/My Drive/ICPEP/For_Future_Use.csv'

# with open(path, 'w', encoding = 'utf-8-sig') as f:
#   names.to_csv(f)

Then saved it to path '/content/drive/My Drive/ICPEP/For_Future_Use.csv'

Click on link to see on file explorer

Now it can be read from the path and the write statements can be commented

In [ ]:
with open(path, 'r') as f:
   #, encoding = 'utf-8-sig'
   names = pd.read_csv(f)

names.head()

   Unnamed: 0                Timestamp  ...  Program            Email Address
0           0  2022-01-08 21:17:07.740  ...      CPE   karl.leonida@gmail.com
1           1  2021-12-13 08:19:43.461  ...      ECE                      NaN
2           2  2022-01-08 11:34:43.849  ...      CPE  jmvillasencio@yahoo.com
3           3  2021-12-12 19:31:48.458  ...      ECE                      NaN
4           4  2021-12-17 09:32:15.324  ...      ECE    derickrcruz@gmail.com

[5 rows x 8 columns]

#Cleaning the data

In [ ]:
names = names[['Thesis Title', 
               'Program',
               'List of Members'
               ]]
names.head()

                                        Thesis Title  ...                                    List of Members
0  A Motion-Based Tracking System Using the Lucas...  ...  Karla Veronica R. Sevilla, Karl Leyven C. Leonida
1  A Remote Controlled Reconnaissance System for ...  ...  Johannes Gabriel S. De Castro\nAldrin Paul D. ...
2  Application of Spectrophotometry in a Non-Inva...  ...  Hazel Kaye L. Ruiz, Julienne Marie R. Villasencio
3  Automated Service Robot for Small Catering Bus...  ...                      James Cruz, Gian Cris Domingo
4  Automatic Foreign Object Identifier and Separa...  ...    Derick Carlo R. Cruz, Joseph Solomon B. Manaois

[5 rows x 3 columns]

###first_member and second_member

function first_member first determines if there are multiple members by determining the number of commas in the "List of Members" column. After that it determines if there's 1 or 3 commas in the entry. If there's one, then just take the name before the single comma. If there's three, then this means that the name's format is SURNAME, FIRST NAME. So, the name in between the first and second comma is the first person's first name and whatever's before the first comma is the first person's surname

In [ ]:
def first_member(abc):
  if(abc.count(',')==0):
    if(abc.count('/')>0):
      abc.replace('/', ' ')
    if(abc.count('\n')>0):
      return abc[0:abc.find('\n')]
    else:
      return abc
  elif(abc.count(',')==1):
    return abc[0:abc.find(',')]
  elif(abc.count(',')==3):
    return abc[abc.find(',')+1:abc.find(',', abc.find(',')+1)]+abc[0:abc.find(',')]

def second_member(abc):
  if(abc.count(',')==0):
    if(abc.count('\n')>0):
      return abc[abc.find('\n')+1:abc.find('\n', abc.find('\n')+1)]
    else:
      return 
  elif(abc.count(',')==1):
    return abc[abc.find(',')+1:]#abc.find(',', abc.find(',')+1)]
  elif(abc.count(',')==3):
    return abc[abc.rfind(',')+1:]+abc[abc.find(',', abc.find(',')+3):abc.rfind(',')]

function second_member almost has the same logic as the first function. The difference are the indices used to extract the names.

In [ ]:
#names = names[['List of Members']]

##Drop the 18th column, it's a duplicate

In [ ]:
names = names.drop(18, axis=0)

###Check if row 18 is effectively removed

In [ ]:
names.head(22)

###Apply the functions to the columns it is intended for

In [ ]:
names['first member'] = names['List of Members'].apply(first_member)
names['second member'] = names['List of Members'].apply(second_member)
names[['first member', 'second member']]

                       first member                      second member
0         Karla Veronica R. Sevilla             Karl Leyven C. Leonida
1     Johannes Gabriel S. De Castro              Aldrin Paul D. Pedras
2                Hazel Kaye L. Ruiz      Julienne Marie R. Villasencio
3                        James Cruz                  Gian Cris Domingo
4              Derick Carlo R. Cruz          Joseph Solomon B. Manaois
5             Christian David D. Yu                               None
6             Cabunilas Mary Kris R             Gabriel John Patrick O
7                 Gabriel L.Bulahan        Angielo Paul William S., Go
8                    Eragem Ignacio                 Hazel Anne Pristin
9             Kathleen Joy R. Tupas                               None
10                Bjarne A. Magturo            Ernesto M. Paquibol III
11  Manuel Leslie G. Santelices Jr.               Jan Marcelo S. Reyes
12      Stephen Matthew T. Gasgonia             Pia Veronica A. Perez
13             Regina Liza C. Diloy            Ma. Chloe M. Sta. Juana
14               Lance Cymer N. Ruz             Calvin Karlo N. Vargas
15    Peregrino Maverick Y. Lazo IV                 John Rey R. Bognot
16        Earl Philip P. Dela Cueva        Danielle France L. Labrador
17      Cristine Dominic M. Cabalar            Shayne Marie R. Cleofas
19    Jose Lorenzo Aaron M. Marquez   Patrick John Maruel E. Terrobias
20             Alvin B. Abustan Jr.            Mateo Luis A. Buenaflor
21        Rolland Christopher Gamez                        Gio Tolores
22       Allyssa Kimberly D. Gabion                  Jefferson B. Pons
23             Arianne Irinco Rojas         Clark Joshua Rosales Viray
24             GRACIE DAN V. CORTEZ              JAN CESAR D. VALENTON
25                   Leila G. Ablao            Zmantha Ysabel B. Tupaz
26              Cyrille Lan C. Chua                               None
27        Anne Bernadette M. Cañezo          Ralph Emerson D. De Belen
28            Maria Luisa M. Pernia                  Roden Jay R. Rabe
29         Francis Jann P. Floresca           Christian Kyle Q. Tobias
30        Christian Edison R. Boris              James Victor I. Viana
31                  Alleah F. Reyes             Edzel Marius A. Rollon
32          Allyzah Mae I. Bernardo               Sean Andrew D.G. Chu
33             Jan Kristof G. Lopez              Kim Andre S. Macaraeg
34            Lalainne Anne J. Abel              Toni Ceciro N. Oconer
35               Japs Michael T. So               John Elli R. Cabuhat
36        Laurence Alec Moran Burce    John Lawrence Montesines Nagayo
37                  Daryl Ildefonso                      Mc Liam Mateo
38        Gerard Edilbert H. Tuazon            Alfonso J. Enriquez III

In [ ]:
# pd.DataFrame(names['second member'].str.title())
names.columns

Index(['Thesis Title', 'Program', 'List of Members'], dtype='object')

In [ ]:
names.head(19)

In [ ]:
names.tail(19)

#Saving the data to csv

In [ ]:
names.to_csv('Thesis_Participants_List.csv')
new_path = '/content/drive/My Drive/ICPEP/Thesis_Participants_List.csv'

with open(new_path, 'w', encoding='utf-8-sig') as f:
  names.to_csv(f)

In [ ]:
newer_path = '/content/drive/My Drive/ICPEP/with_paper_x.csv'

with open(newer_path, 'r') as f:
  paper_x = pd.read_csv(f)

paper_x.head()

In [ ]:
paper_x['Paper Title'] = paper_x['Paper Title'].str.title()
paper_x = paper_x.rename(columns={'First Member': 'first member', 'Second Member': 'second member', 'Course': 'Program'})
paper_x = paper_x.astype({'first member':'object', 'second member': 'object'})

paper_x

In [ ]:
names = names.rename(columns = {'Thesis Title':'Paper Title'})
# names = names.drop('List of Members', axis = 1)
names['Paper Title'] = names['Paper Title'].str.title()
names

##Merging to create a file with redacted paper names and without.

Sort by paper title to compare later by the merged df

In [ ]:
p_sorted = paper_x.sort_values(by=['Paper Title'])

In [ ]:
p_sorted.head()

     paper_x  ... second member
27  Paper_28  ...           NaN
15  paper_16  ...           NaN
7   paper_08  ...           NaN
9   paper_10  ...           NaN
32  Paper_33  ...           NaN

[5 rows x 5 columns]

Merged df lacks paper_28 so we need this code for the append code later

In [ ]:
p_sorted[p_sorted['paper_x']=='Paper_28']

     paper_x  ... second member
27  Paper_28  ...           NaN

[1 rows x 5 columns]

merge names and paper_x df

In [ ]:
merged_df = pd.merge(names, paper_x, how = 'left', left_on=['first member', 'second member', 'List of Members'], right_on = ['paper_x','Paper Title', 'Program'])

In [ ]:
merged_df.columns

Index(['Paper Title_x', 'Program_x', 'List of Members', 'first member_x',
       'second member_x', 'paper_x', 'Paper Title_y', 'Program_y',
       'first member_y', 'second member_y'],
      dtype='object')

###merged_df

Columns names were changed during merging. Fix that by dropping unnecessary columns and rename the columns

In [ ]:
merged_df = merged_df.drop(['Paper Title_y', 'Program_y','first member_y', 'second member_y'], axis=1)

merged_df = merged_df.rename(columns={'Paper Title_x':'Paper Title', 'Program_x':'Program', 'first member_x':'first member','second member_x':'second member'})

merged_df still has paper_x as NaN. Fix this by setting the merged_df paper_x column to p_sorted paper_x column.

This is alright since they both have sorted Paper Title column.

But this resulted to Paper_28 still not being on the df.

In [ ]:
# merged_df = merged_df.append(p_sorted[p_sorted['paper_x']=='Paper_28']).sort_values(by='Paper Title')

merged_df['paper_x'] = p_sorted['paper_x']

merged_df.head()

                                         Paper Title  ...   paper_x
0  A Motion-Based Tracking System Using The Lucas...  ...  paper_01
1  A Remote Controlled Reconnaissance System For ...  ...  paper_02
2  Application Of Spectrophotometry In A Non-Inva...  ...  paper_03
3  Automated Service Robot For Small Catering Bus...  ...  paper_04
4  Automatic Foreign Object Identifier And Separa...  ...  paper_05

[5 rows x 6 columns]

append Paper_28 to merged_df

In [ ]:
merged_df = merged_df.append(p_sorted[p_sorted['paper_x']=='Paper_28']).sort_values(by='Paper Title')

merged_df.head()

                                          Paper Title  ...   paper_x
27  A Hybrid Solar Powered Chicken Disease Monitor...  ...  Paper_28
0   A Motion-Based Tracking System Using The Lucas...  ...  paper_01
1   A Remote Controlled Reconnaissance System For ...  ...  paper_02
2   Application Of Spectrophotometry In A Non-Inva...  ...  paper_03
3   Automated Service Robot For Small Catering Bus...  ...  paper_04

[5 rows x 6 columns]

Save merged_df. To be sent to Yang.

In [ ]:
temp_path = '/content/drive/My Drive/ICPEP/'
merged_path = temp_path + 'NAMES.csv'
with open(merged_path, 'w' , encoding = 'utf-8-sig') as f:
  merged_df.to_csv(f)

Save names_csv and send to sir Pads

In [ ]:
names_csv = names.drop('List of Members', axis=1)

names_csv.head()

                                         Paper Title  ...                   second member
0  A Motion-Based Tracking System Using The Lucas...  ...          Karl Leyven C. Leonida
1  A Remote Controlled Reconnaissance System For ...  ...           Aldrin Paul D. Pedras
2  Application Of Spectrophotometry In A Non-Inva...  ...   Julienne Marie R. Villasencio
3  Automated Service Robot For Small Catering Bus...  ...               Gian Cris Domingo
4  Automatic Foreign Object Identifier And Separa...  ...       Joseph Solomon B. Manaois

[5 rows x 4 columns]

In [ ]:
# names_csv.to_csv('names.csv')

temp_path = '/content/drive/My Drive/ICPEP/'
names_path = temp_path + 'names.csv'
with open(names_path, 'w' , encoding = 'utf-8-sig') as f:
  names_csv.to_csv(f)